<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>social</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="css/main.css">
<script>
	window.$ = window.jQuery = WLJQ;
</script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script src="js/initOptions.js"></script>
<script src="js/main.js"></script>
<script src="js/messages.js"></script>
<script src="js/controller.js"></script>
</head>
<body>
	POC WORKLIGHT
	<div ng-app="HelloUserApp">
		<div ng-controller="HelloUserController">
			Social sharing <button type="button" ng-click="share();">Compartilhar</button>
			<hr />
			Camera <button type="button" ng-click="openCamera();">Camera</button>

		</div>
	</div>
</body>
</html>